<div id="create-project-loader" class="create-project-loader">
  <div layout="row">
    <div layout="column" flex>
      <!--crane with layers in the box-->
      <div class="crane">
        <!--box-->
        <div class="box">
          <div class="box-bottom-side"></div>
          <div class="box-back-sides">
            <div class="box-left-back-side"></div>
            <div class="box-right-back-side"></div>
          </div>
          <div class="box-front-sides">
            <div class="box-left-front-side"></div>
            <div class="box-right-front-side"></div>
          </div>
        </div>
        <!--layers in box-->
        <div class="layers-in-box">
          <div class="layer-1">
            <div class="layer anim">
              <div class="layer-front-sides">
                <div class="layer-left-side"></div>
                <div class="layer-right-side"></div>
              </div>
              <div class="layer-upper-side"></div>
            </div>
          </div>
          <div class="layer-2">
            <div class="layer anim">
              <div class="layer-front-sides">
                <div class="layer-left-side"></div>
                <div class="layer-right-side"></div>
              </div>
              <div class="layer-upper-side"></div>
            </div>
          </div>
          <div class="layer-3">
            <div class="layer anim">
              <div class="layer-front-sides">
                <div class="layer-left-side"></div>
                <div class="layer-right-side"></div>
              </div>
              <div class="layer-upper-side"></div>
            </div>
          </div>
        </div>
        <!--load-jib-->
        <div class="load-jib">
          <!--left part-->
          <div class="load-jib-1">
            <div class="load-jib-1-1"></div>
            <div class="load-jib-1-2"></div>
            <div class="load-jib-1-inner-part-1">
              <div></div>
            </div>
            <div class="load-jib-1-inner-part-2">
              <div></div>
            </div>
            <div class="load-jib-1-inner-part-3">
              <div></div>
            </div>
          </div>
          <!--middle part-->
          <div class="load-jib-2">
            <div class="load-jib-2-inner-part">
              <div></div>
              <div></div>
            </div>
            <div class="load-jib-2-inner-part">
              <div></div>
              <div></div>
            </div>
            <div class="load-jib-2-inner-part">
              <div></div>
              <div></div>
            </div>
          </div>
          <!--right part-->
          <div class="load-jib-3">
            <div class="load-jib-3-1"></div>
            <div class="load-jib-3-2"></div>
            <div class="load-jib-3-3"></div>
            <div class="load-jib-3-inner-part-1">
              <div></div>
            </div>
            <div class="load-jib-3-inner-part-2">
              <div></div>
            </div>
            <div class="load-jib-3-inner-part-3">
              <div></div>
            </div>
            <div class="load-jib-3-inner-part-4">
              <div></div>
            </div>
            <div class="load-jib-3-inner-part-5">
              <div></div>
            </div>
            <div class="load-jib-3-inner-part-6">
              <div></div>
            </div>
            <div class="load-jib-3-inner-part-7">
              <div></div>
            </div>
            <div class="load-jib-3-inner-part-8">
              <div></div>
            </div>
          </div>
        </div>
        <div class="anim trolley-block">
          <div class="trolley"></div>
          <div class="rope-3-block">
            <div class="anim rope-3-left"></div>
            <div class="anim rope-3-right"></div>
            <div class="rope-3-center"></div>
            <div class="rope-3-circle"></div>
          </div>
          <div id="load" class="load">
            <!--ropes-->
            <div class="anim layer-ropes">
              <div class="layer-rope-left"></div>
              <div class="layer-rope-front"></div>
              <div class="layer-rope-right"></div>
            </div>
            <!--layer-->
            <div class="anim layer">
              <div class="layer-front-sides">
                <div class="layer-left-side"></div>
                <div class="layer-right-side"></div>
              </div>
              <div class="layer-upper-side"></div>
            </div>
          </div>
        </div>
        <!--tower-->
        <div class="tower">
          <div class="tower-cabin">
            <div class="tower-cabin-window-1"></div>
            <div class="tower-cabin-window-2"></div>
            <div class="tower-cabin-window-3"></div>
          </div>
          <div class="tower-cabin-bottom-part"></div>
          <div class="tower-part-1"></div>
          <div class="tower-part-2">
            <div></div>
          </div>
          <div class="tower-part-3">
            <div></div>
          </div>
          <div class="tower-part-4"></div>
          <div class="tower-part-5"></div>
          <div class="tower-part-6"></div>
          <div class="tower-part-7"></div>
          <div class="tower-part-8"></div>
          <div class="tower-part-9"></div>
          <div class="tower-part-10"></div>
          <div class="tower-part-11">
            <div class="crossbar"></div>
            <div class="left-leg tower-leg">
              <div class="left-leg-hip">
                <div></div>
                <div></div>
              </div>
              <div class="left-leg-shin">
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="right-leg tower-leg">
              <div class="right-leg-hip">
                <div></div>
                <div></div>
              </div>
              <div class="right-leg-shin">
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div layout="column" flex>
      <!--terminals and logs-->
      <div class="working-log untouched">
        <div ng-repeat="step in model.getCreationSteps()">
          <div class="stage-{{$index}} stage"
               ng-class="{'active': (step === $index), 'error': model.getCreationSteps()[$index].hasError, 'stage-title-only': !model.getCreationSteps()[$index].logs}">
            <div class="stage-title">{{model.getCreationSteps()[$index].text}}</div>
            <div class="terminal" ng-if="model.getCreationSteps()[$index].logs">
              <div class="top-side"></div>
              <div class="right-side"></div>
              <div class="front-side">
                <div class="title">
                  <div>{{model.getCreationSteps()[$index].inProgressText}}</div>
                </div>
                <div class="button"></div>
                <div class="output">
                  <div>
                    <pre>{{model.getCreationSteps()[$index].logs}}</pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div layout="row">
    <div class="bottom-bar">
      <!--<div layout="row" layout-align="end start">-->
      <div ng-show="(model.getCurrentProgressStep() === (model.getCreationSteps().length - 1))" layout="row" layout-align="end start">
        <div layout="column" flex-shrink>
          <che-button-notice ng-show-="model.getCurrentProgressStep() === (model.getCreationSteps().length - 1)"
                             che-button-title="Add another project" ng-click="model.resetCreateNewProject()"></che-button-notice>
        </div>
        <div layout="column" flex-shrink>
          <che-button-primary ng-show-="model.getCurrentProgressStep() === (model.getCreationSteps().length - 1)"
                              ng-href="{{model.getIDELink()}}"
                              ng-click="model.resetCreateNewProject()"
                              class="che-hover create-project-details-arrow"
                              che-button-icon="fa fa-chevron-circle-right"
                              che-button-title="Open project in IDE"></che-button-primary>
        </div>
      </div>
      <!--<div layout="row" layout-align="end start">-->
      <div ng-show="model.getCreationSteps()[$index].hasError" layout="row" layout-align="end start">
        <che-button-danger che-button-title="Retry"
                           ng-click="model.resetCreateProgress()"></che-button-danger>
      </div>
    </div>
  </div>
</div>

